
.about{padding: 20px; text-align: justify;}
.about h2{margin: 20px 0px;}

.displaydata{padding: 20px;}
.displaydata .mytable{width: 100%; text-align: center;}
.displaydata .mytable tr{height: 42px;}
